<section class="aboutme">
    <div class="post_content">
        <p><h1>Hi, I'm Andri</h1></p>
        <p>
             I'm a .Net Developer based in  Jakarta, Indonesia. Currently, I'm work for one of Bank in Indonesia.
             I have passionate and get most  enjoyment  as a .Net Developer when  writing code readable, 
             clean code and give problem solving to my client or users. 
             <br><br>
             My coding journey started in my first year of vocational school in 2011.
             Because of that I'm try to explored by myself and I’m going to continue studying for Associate of Computer Science.
  
             <br><br>
             I've been working in the industry since before graduating in 2017.
             Outside of work I watch some film on netflix, jogging and frequently playing badminton.
             <br><br>
             <p><h1>Tech Skills</h1></p>
             <img src="https://img.shields.io/badge/.NET-000?style=for-the-badge&logo=dotnet&logoColor=blue" 
             alt=".NET" style="max-width:100%;height: 3%;">
             <span>
             <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" 
             alt="github" style="max-width:100%;height: 3%;">

             <img src="https://img.shields.io/badge/JavaScript-000?style=for-the-badge&logo=javascript&logoColor=F7DF1E" 
             alt="JavaScript" style="max-width:100%;height: 3%;">  

             <img src="https://img.shields.io/badge/Laravel-000?style=for-the-badge&logo=laravel&logoColor=red" 
             alt="JavaScript" style="max-width:100%;height: 3%;">  
             
                    
            <img src="https://img.shields.io/badge/jQuery-000?style=for-the-badge&logo=jquery&logoColor=0868AC" 
             alt="jquery" style="max-width:100%;height: 3%;">

            <img src="https://img.shields.io/badge/Microsoft%20SQL%20Sever-000?style=for-the-badge&logo=microsoft%20sql%20server&logoColor=red" 
             alt="MSSQL" style="max-width:100%;height: 3%;">

             <img src="https://img.shields.io/badge/HTML5-000?style=for-the-badge&logo=html5&logoColor=E34F26" 
             alt="HTML" style="max-width:100%;height: 3%;">

             <img src="https://img.shields.io/badge/MySQL-000?style=for-the-badge&logo=mysql&logoColor=00758F" 
             alt="MYSQL" style="max-width:100%;height: 3%;">

        </p>
    </div>
  </section>